<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><strong>Puntuación Equipo  WOD.</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="evento">Evento</label>
            <select [(ngModel)]="selectedEvento" (change)="changeSelectedEvento($event)">
                <option [ngValue]="0" disabled>Selecciona un evento</option>
                <option *ngFor="let evento of listadoEventos" [ngValue]="evento.id">{{evento.nombre}}</option>
            </select>
        </div>
        <div class="col-md-8">
            <button (click)="update()">Actualiza</button>
            <button >Siguiente Etapa</button>
            <button >Finaliza</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngFor="let wod of listadoWods">
            <div class="container-fluid card">
                <div class="row">
                    <div class="col-md-8">
                        <h4>{{wod.nombre}} ({{wod.tipo ==1 ? "AMRAP" : "FOR TIME"}})</h4>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr>
                                <th>Equipo</th>
                                <th>Resultado</th>
                                <th>Puntuacion</th>
                            </tr>
                            <tr *ngFor="let rol of wod.roles">
                                <td>
                                    {{rol.equipo.nombre}}
                                </td>
                                <td>
                                    {{rol.resultado}}
                                </td>
                                <td>
                                    <input type="text" [(ngModel)]="rol.puntuacion">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>