<div class="primary header align-middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6">
                <img src="./img/logo.png">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-6">
                <ul class="menu">
                    <li><a (click)="goEventos()"><span class="menu-eventos"></span> Eventos</a></li>
                    <li><a (click)="goMembresias()"><span class="menu-membresia"></span> Membresia</a></li>
                    <li><a (click)="goMiembro()"><span class="menu-miembro"></span> Miembros</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>