<div class="container-fluid">
    <div class="row">
        <h6>Etapas registradas</h6>
        <div class="card col-md-2">
            Etapa 1
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Etapa</label>
            <select [(ngModel)]="etapa">
                <option value="1">Final</option>
                <option value="2">Eliminatoria</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="evento.slogan">Numero de WODs</label>
            <input type="text" name="rol.equip.wods" [(ngModel)]="numeroWods" />
            <button (click)="generaRolWods()">Genera Esquema Wods</button>
        </div>
        <div class="col-md-3">
            <label for="evento.nombre">Numero de Hits</label>
            <input type="text" name="rol.equip.hits" [(ngModel)]="numeroHits" />
            <button (click)=" generaHitslines()">Genera Hits</button>
        </div>
    </div>
    <hr />

    <div class="row">
        <table class="table table-striped">
            <tr>
                <th style="width:50px;">Hit</th>
                <th *ngFor="let config of listadoWods">
                    WOD
                    <select [(ngModel)]="config.wod">
                <option *ngFor="let wod of catalogoWods" [ngValue]="wod">{{wod.nombre}}</option>    
            </select>
                    <br> Juez
                    <select [(ngModel)]="config.juez">
                <option *ngFor="let juez of listadoJueces" [ngValue]="juez">{{juez.nombre}}</option>
            </select>
                </th>

            </tr>
        </table>
    </div>

    <div class="row">
        <table class="table table-striped">
            <tr *ngFor="let hit of listadoHits">
                <td style="width:50px;">
                    {{hit.hit}}
                </td>
                <td *ngFor="let rol of hit.roles">
                    <select [(ngModel)]="rol.equipo">
                <!-- colocamos las opciones son los equipos registrados. -->
                <option *ngFor="let equipo of listadoEquipos" [ngValue]="equipo">{{equipo.nombre}}</option>    
            </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button (click)="guardaRolEquipos()">Guarda Rol</button>
        </div>
    </div>
</div>