<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <label for="evento.nombre">Nombre del evento</label>
                        <input type="text" name="evento.nombre" [(ngModel)]="evento.nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="evento.slogan">Slogan</label>
                        <input type="text" name="evento.slogan" [(ngModel)]="evento.slogan">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="evento.fechaInicio">Fecha de Incio</label>
                        <input type="date" name="evento.fechaInicio" [ngModel]="evento.fechaInicio | date:'yyyy-MM-dd'" (ngModelChange)="evento.fechaInicio = $event">
                    </div>
                    <div class="col-md-6">
                        <label for="evento.fechaTermina">Fecha de Termino</label>
                        <input type="date" name="evento.fechaTermino" [ngModel]="evento.fechaTermino | date:'yyyy-MM-dd'" (ngModelChange)="evento.fechaTermino = $event">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="evento.numParticipantes">Numero Total de Participantes</label>
                        <input type="number" name="evento.numParticipantes" [(ngModel)]="evento.numParticipantes">
                    </div>
                    <div class="col-md-4">
                        <label for="evento.numEquipos">Numero de Equipos</label>
                        <input type="number" name="evento.numEquipos" [(ngModel)]="evento.numEquipos">
                    </div>
                    <div class="col-md-4">
                        <label for="evento.participanteXEquipo">Participantes X Equipo</label>
                        <input type="number" name="evento.participanteXEquipo" [(ngModel)]="evento.participanteXEquipo">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <label for="juez.nombre">Nombre</label>
                        <input type="text" name="juez.nombre" [(ngModel)]="juez.nombre">
                    </div>

                    <div class="col-md-12">
                        <label for="juez.box">Box</label>
                        <input type="text" name="juez.box" [(ngModel)]="juez.box">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button (click)="agregaJuez();">Agregar Juez</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Box
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                            <tr *ngIf="emptyJuecesMessage">
                                <td colspan="3" class="text-center">{{emptyJuecesMessage}}</td>
                            </tr>
                            <tr *ngFor="let juez of evento.jueces">
                                <td>
                                    {{juez.nombre}}
                                </td>
                                <td>
                                    {{juez.box}}
                                </td>
                                <td>
                                    <ul class="acciones-menu" style="float:right;">

                                        <li><a (click)="deleteJuez(juez)" class="eliminar"></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
