<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3>
                <img src="../img/minus.png"> Participa en Equipos.
            </h3>
        </div>
        <div class="col-md-4 text-right">
            <button (click)="addEquipo()">Agrega equipo</button>
        </div>
    </div>
    <div class="row">

        <!-- 
    componente para generar los equipos y su configuracion
-->
        <div *ngFor="let equip of equipos" class="col-md-6">
            <div class="container-fluid card">
                <div class="row">
                    <div class="col-md-8">
                        <label for="eq.nombre">Equipo</label>
                        <input type="text" name="evento.nombre" [(ngModel)]="equip.nombre">
                    </div>
                    <div class="col-md-4">
                         <label for="eq.tipo">Categoría</label>
                        <select  [(ngModel)]="equip.tipokey" >
                        <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">{{tipo.descripcion}}</option>
                                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr>
                                <th>Integrantes</th>
                                <th>Categoría</th>
                                <th>Género</th>
                                <th style="width:70px;">Individual</th>
                                <!-- <th style="width:70px;">Acciones</th> -->
                            </tr>
                            <tr *ngFor="let participa of equip.participantes">
                                <td><input type="text" [(ngModel)]="participa.nombre"></td>
                                <td>
                                    <select [(ngModel)]="participa.nivelkey">
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.descripcion}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select [(ngModel)]="participa.generokey">
                         <option *ngFor="let genero of generos" [ngValue]="genero.id">{{genero.descripcion}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="participa.participaindividual">
                                </td>
                                <!--<td>
                                    <ul class="acciones-menu" style="float:right;">
                                        <li><a class="importar"></a></li>
                                    </ul>
                                </td>-->
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button *ngIf="!evento.isEditMode || equip.isNuevo" (click)="saveEquipo(equip)">Guardar {{equip.nombre}}</button>
                        <button *ngIf="evento.isEditMode && !equip.isNuevo" (click)="updateEquipo(equip)">Actualiza {{equip.nombre}}</button>
                        <button class="alert-button" (click)="showDeleteMsgEquipo(equip)">Eliminar </button>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <h3><img src="../img/minus.png"> Solo participa en individual.</h3>
        </div>
        <div class="col-md-4 text-right">
            <button (click)="addIndividual()">Agrega Participante</button>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid card">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>Participante</th>
                            <th>Categoría</th>
                            <th>Género</th>
                            <th style="width:80px;">Acciones</th>
                        </tr>
                        <tr *ngFor="let partIndividual of individuales">
                            <td><input type="text" [(ngModel)]="partIndividual.nombre"></td>
                            <td>
                                <select [(ngModel)]="partIndividual.nivelkey">
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.descripcion}}</option>
                                    </select>
                            </td>
                            <td>
                                <select [(ngModel)]="partIndividual.generokey">
                         <option *ngFor="let genero of generos"  [ngValue]="genero.id">{{genero.descripcion}}</option>
                                    </select>
                            </td>
                            <td class="text-right">
                                <ul class="acciones-menu">
                                    <li><a class="eliminar" (click)="showDeleteMsgParticipante(partIndividual)"></a></li>
                                  <!--  <li><a class="importar"></a></li>-->
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button *ngIf="!evento.isEditMode" (click)="saveIndividuales()">Guardar</button>
                    <button *ngIf="evento.isEditMode" (click)="saveOrUpdateindividual()">Actualizar</button>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- Mensaje de alerta de eliminación. -->
        <div class="my-alert" *ngIf="showAlertEliminaEquipo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Eliminar Equipo {{equipoAEliminar.nombre}}</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Los miembros del equipo tambien seran eliminados,¿Desea continuar?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button (click)="deleteEquipo()">Aceptar</button>
                        <button class="alert-button" (click)="hideDeleteMsgEquipo()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Mensaje de alerta de eliminación. -->
        <div class="my-alert" *ngIf="showAlertEliminaParticipante">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Eliminar Participante</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>El participante {{participanteAEliminar.nombre}} sera eliminado, ¿Desea continuar?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button (click)="deleteParticipante()">Aceptar</button>
                        <button class="alert-button" (click)="hideDeleteMsgParticipante()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>