<app-header></app-header>
<div class="container">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><strong>Catálogo de Membresias.</strong></h3>
        </div>
        <div class="col-md-4 text-right">
            <input type="text" name="email" class="buscar" placeholder="Buscar...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 data-table" >
            <table class="table table-striped">
                <tr>
                    <th>Membresia</th>
                    <th>Costo</th>
                    <th>Periodo</th>
                    <th>Dias de Asistencia</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngIf="emptyMessage">
                    <td colspan="5" class="text-center">{{emptyMessage}}</td>
                </tr>
                <tr *ngFor="let membresia of listado">
                    <td>{{membresia.nombreMembresia}}</td>
                    <td>{{membresia.costoMembresia}}</td>
                    <td>{{membresia.periodoDesc}}</td>
                    <td>{{membresia.diasAsistenciaDesc}}</td>
                    <td style="width: 100px;">
                        <ul class="acciones-menu">
                            <li><a class="editar" (click)="loadEditMembresia(membresia)"></a></li>
                            <li><a class="eliminar" #btn{{membresia.id}} (click)="eliminar(membresia.id)"></a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button (click)="showNuevaMembresia()">Nuevo</button>
        </div>
    </div>
    <div class="my-modal-dialog" *ngIf="showModalDatos">
        <div class="my-modal-dialog-window">
            <div class="container-fluid">
                <div class="row">
                    <h4>{{titleDatos}}</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="membresia.nombreMembresia">Nombre</label>
                                    <input type="text" name="membresia.nombreMembresia" [(ngModel)]="membresia.nombreMembresia" placeholder="Nombre de la membresia">
                                </div>
                                <div class="col-md-2">
                                    <label for="membresia.costoMembresia">Costo</label>
                                    <input type="text" name="membresia.costoMembresia" [(ngModel)]="membresia.costoMembresia" placeholder="$ 0.00">
                                </div>
                                <div class="col-md-3">
                                    <label for="periodo">Periodo</label>
                                    <select name="selectedvaluePeriodo" [(ngModel)]="selectedvaluePeriodo">
                        <option  *ngFor="let opPeriodo of periodos" [ngValue]="opPeriodo.idcPeriodo">{{opPeriodo.descripcion}}</option>
                </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="diasAsistencia">Dias de Asistencia</label>
                                    <select name="selectedvalueDias" [(ngModel)]="selectedvalueDias">
                        <option *ngFor="let opDias of diasAsistencias" [ngValue]="opDias.idcDiasAsistencia">{{opDias.descripcion}}</option>
                </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div *ngIf=!isEditMode class="col-md-12 text-right">
                                    <button (click)="agregar()">Agregar</button>
                                    <button class="alert-button" (click)="limpiaFormulario()">Cancelar</button>
                                </div>

                                <div *ngIf=isEditMode class="col-md-12 text-right">
                                    <button (click)="updateMembresia()">Actualizar</button>
                                    <button class="alert-button" (click)="limpiaFormulario()">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>