<div class="container-fluid back-login">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img src="./img/logo-horizontal.png" style="width:100%">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-block text-center">
                <h1 class="title">Login</h1>
                <div class="container-fluid">
                    <form>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Usuario</label>
                                <input type="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Contraseña</label>
                                <input type="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-block" (click)="goHome()">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>