<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><strong>Miembros Inscritos.</strong></h3>
        </div>
        <div class="col-md-4 text-right">
            <input type="text" [(ngModel)]="filtroMiembros" (ngModelChange)=filtrarmiembros() class="buscar" placeholder="Buscar...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 data-table" >
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Membresia</th>
                    <th>Numero Telefonico</th>
                    <th>Correo Electrónico</th>
                    <th>Dispositivo</th>
                    <th>Fecha Ingreso</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngIf="emptyMessage">
                    <td colspan="6" class="text-center">{{emptyMessage}}</td>
                </tr>
                <tr *ngFor="let miembro of listado">
                    <td>{{miembro.nombre}}</td>
                    <td>{{miembro.membresiaDesc}}</td>
                    <td>{{miembro.telefono}}</td>
                    <td>{{miembro.email}}</td>
                    <td>{{miembro.uuid}}</td>
                    <td>{{miembro.fechaIngreso | date: 'dd/MM/yyyy'}}</td>
                    <td style="width: 120px;">
                        <ul class="acciones-menu">
                            <li><a class="editar" (click)="loadEditMiembro(miembro)"></a></li>
                            <li><a class="eliminar" (click)="showEliminaMiembro(miembro)"></a></li>
                            <li><a class="pagos" (click)="showModalPagos(miembro)"></a></li>
                        </ul>
                    </td>
                </tr>

            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button (click)="showNuevoMiembro()">Nuevo</button>
        </div>
    </div>
    <div class="row">
        <div class="my-modal-dialog" *ngIf="showModal">
            <div class="my-modal-dialog-window">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            <h3>Registro de Pagos</h3>
                            <hr>
                        </div>
                        <div class="col-md-1">
                            <a class="my-modal-dialog-close" (click)="hideModalPagos()"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Miembro</label>
                            <h4><strong> {{nuevoPago.miembro.nombre}}</strong></h4>
                        </div>
                        <div class="col-md-4">
                            <label for="nuevoPago.concepto">Concepto</label>
                            <input type="text" name="nuevoPago.concepto" [(ngModel)]="nuevoPago.concepto">
                        </div>
                        <div class="col-md-4">
                            <label for="nuevoPago.cantidad">Cantidad</label>
                            <input type="text" name="nuevoPago.cantidad" placeholder="Importe total" [(ngModel)]="nuevoPago.cantidad">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button (click)="registraPago()">Registra pago</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12" style="max-height: 200px;overflow:auto;">
                            <table class="table table-striped">
                                <tr>
                                    <th>Fecha Pago</th>
                                    <th>Concepto</th>
                                    <th>Importe</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                <tr *ngIf="emptyMessagePagos">
                                    <td colspan="6" class="text-center">{{emptyMessagePagos}}</td>
                                </tr>
                                <tr *ngFor="let pago of listadoPagos">
                                    <td>{{pago.fechaRegistro | date: 'dd/MM/yyyy hh:mm'}}</td>
                                    <td>{{pago.concepto}}</td>
                                    <td>{{pago.cantidad | currency:'MXN':true}}</td>
                                    <td>{{pago.estado == 1 ? 'Pagado' :'Cancelado' }}</td>
                                    <td>
                                        <ul class="acciones-menu">
                                            <li *ngIf="pago.estado == 1"><a class="eliminar" (click)="cancelarPago(pago)"></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Mensaje de alerta de eliminación. -->
        <div class="my-alert" *ngIf="showAlertEliminaMiembro">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Eliminar Miembro</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>¿Desea elmiminar el miembro <strong>{{miembroAEliminar.nombre}}</strong>?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button (click)="eliminar(miembroAEliminar.id)">Aceptar</button>
                        <button class="alert-button" (click)="hideEliminaMiembro()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-modal-dialog" *ngIf="showModalDatos">
        <div class="my-modal-dialog-window">
            <div class="container-fluid">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{{titleDatos}}</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="nuevoMiembro.nombre">Nombre completo</label>
                            <input type="text" name="nuevoMiembro.nombre" placeholder="Quien se inscribe?" [(ngModel)]="nuevoMiembro.nombre">
                        </div>
                        <div class="col-md-4">
                            <label for="fechaIngreso">Fecha de Ingreso</label>
                            <input type="date" name="nuevoMiembro.fechaIngreso" [ngModel]="nuevoMiembro.fechaIngreso | date:'yyyy-MM-dd'" (ngModelChange)="nuevoMiembro.fechaIngreso = $event">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="telefono">Número Telefónico</label>
                            <input type="text" name="nuevoMiembro.telefono" placeholder="Numero a 10 digitos." [(ngModel)]="nuevoMiembro.telefono">
                        </div>
                        <div class="col-md-5">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" name="nuevoMiembro.email" placeholder="correo@mail.com" [(ngModel)]="nuevoMiembro.email">
                        </div>
                        <div class="col-md-4">
                            <label for="membresia">Membresia</label>
                            <select name="selectedvalueMembresia" [(ngModel)]="selectedvalueMembresia">
                                    <option *ngFor="let membresia of membresiasList" [ngValue]="membresia.id">{{membresia.nombreMembresia}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="UUID">Identificador del dispositivo</label>
                            <input type="uuid" name="nuevoMiembro.uuid" placeholder="Código" [(ngModel)]="nuevoMiembro.uuid">
                        </div>


                    </div>
                    <br />
                    <div>
                        <div *ngIf=isEditMode class="col-md-12 text-right">
                            <button (click)="updateMiembro()">Actualizar</button>
                            <button class="alert-button" (click)="limpiarFormulario()">Cancelar</button>
                        </div>
                        <div *ngIf=!isEditMode class="col-md-12 text-right">
                            <button (click)="agregarMiembro()">Agregar</button>
                            <button class="alert-button" (click)="limpiarFormulario()">Cancelar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>