.acciones-menu{
     list-style: none outside none; margin:0; padding: 0;
}

.acciones-menu li{
    float: left;
}

.editar{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/Pencil_24px.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.editar:hover{
    background-image: url('img/over/Pencil_24px.png');
}

.eliminar{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/Delete_24px.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.eliminar:hover{
    background-image: url('img/over/Delete_24px.png');
}

.next{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/chevron_right.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.next:hover{
    background-image: url('img/over/chevron_right.png');
}

.importar{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/transfer_between_users.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.importar:hover{
    background-image: url('img/over/transfer_between_users.png');
}

.enviarqr{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/QRCode_24px.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.enviarqr:hover{
    background-image: url('img/over/QRCode_24px.png');
}

.pagos{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/PurchaseOrder_24px.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.pagos:hover{
    background-image: url('img/over/PurchaseOrder_24px.png');
}


.equipos{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/teams.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.equipos:hover{
    background-image: url('img/over/teams.png');
}

.individual{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('img/conference_background_selected.png');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.individual:hover{
    background-image: url('img/over/conference_background_selected.png');
}