.my-alert{
    display: block;
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30%;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}