label{
    display: block !important;
    color: #9E9E9E;
    font-size: 12px;
    margin-top: 16px;
}

select{
    border: none;
    border-bottom: solid 3px #F2C94C;
    color: #4F4F4F !important;
    font-size: 16px !important;
    width: 100%;
    margin-bottom: 10px;
}

input{
    border: none;
    border-bottom: solid 3px #F2C94C;
    color: #4F4F4F !important;
    font-size: 16px !important;
    width: 100%;
    margin-bottom: 10px !important;
}

.buscar{
    border: none ;
    background-color: #F8F8F8;
    color: #4F4F4F !important;
    font-size: 16px !important;
    width: 90%;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 15px;
     box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.05);
}

button{
    padding: 10px 20px;
    background-color:#F2C94C;
    border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 14px;
    color:#fff !important;
}

.alert-button{
   border-color:#E50006; 
   background-color: #fdfdfd;
   color:#E50006 !important; 
}

th{
    background-color: #333 !important;
    color: #FFF !important;

}

.my-tabs{
    display: inline-block;
    padding: 10px 20px 10px 0px;
    text-decoration: none;
    border-bottom: solid 2px #ddd;
    margin-bottom: 20px;
    color:#ccc !important;
    font-size: 1.5em !important;
}

.my-tabs:hover{
    border-bottom: solid 2px #F2C94C;
    text-decoration: none;
    color: #333 !important;
}

.my-tabs-active{
    border-bottom: solid 2px #F2C94C;
    text-decoration: none;
    font-weight: bold !important;
    color: #000 !important;
}

.card{
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.23) !important;
    padding: 5px 5px 25px 5px;
    margin-bottom: 15px;
}

.data-table{
    max-height: 450px;
    overflow:auto; 
    margin-bottom:10px;
}