.header{
    display:block;
    position:relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header img{
  padding: 15px 0px;
}

.flash-message-container{
    position: absolute !important;
    bottom:15px !important;
    right: 20px;
    z-index: 99999999;
    
}
.flash-message-container .alert{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}