.back-login{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../img/wp1854249.jpg');
}

.login-block{
    display: block;
     width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.title{
    color: #fff;
}