.side-menu{
    display: block;
    width: 220px;
    top:70px;
    background-color: #F8F8F8;
    height: 100%;
    position: absolute;
    z-index: 99999999;
}

.menu-button{
    display: block;
   width: 70px;
   height: 70px;
   float:left;
   background-image: url('img/icons8-menu.png');
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
}

.menu{
     list-style: none outside none; margin:0; padding: 0;
     position: relative;
     top: 10px;
}

.menu li{
    float: right;
    display: block;
    padding: 5px;
    cursor: pointer;
}

.menu li a{
    line-height: 30px;
    text-decoration: none;
    color:#fff;
}
.menu li:hover{
    border-bottom: solid 3px #F2C94C;
}

.menu li a span{
   display: block;
   width: 30px;
   height: 30px;
   float:left;
}

.menu-right{
    float: right !important;
}

.menu-miembro{
    background-image: url("../img/CircledUserMale_64px_yellow.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-membresia{
    background-image: url("../img/Badge_64px_yellow.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-eventos{
    background-image: url("../img/icons8-weightlift.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}