.my-modal-dialog{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.my-modal-dialog-window{
    display: block;
    position: relative;
    top: 10%;
    left: 15%;
    width: 70%;
    max-height: 500px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    overflow: auto;
    padding: 20px;
}

.large-modal{
    top: 5% !important;
    left: 2% !important;
    width: 96% !important;
    min-height: 90% !important;
}

.my-modal-dialog-close{
    display: block;
   width: 60px;
   height: 60px;
   background-image: url('img/icons8-close_window.png');
   background-position: center;
   background-repeat: no-repeat;
}