body, html, .container-fluid {
  height: 100%;
  font-family: 'Titillium Web', sans-serif !important;
}

/**
Primary: #1C1C1C
Secondary: #F8F8F8
Accent: #F2C94C
*/

.primary{
  background-color: #1C1C1C;
}

.secondary{
  background-color: #F8F8F8;
}

.accent{
  background-color: #F2C94C;
}