<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3><strong>Catálogo de Eventos.</strong></h3>
                    </div>
                    <div class="col-md-4 text-right">
                        <input type="text" name="email" class="buscar" placeholder="Buscar...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 data-table" >
                        <table class="table table-striped">
                            <tr>
                                <th>Nombre</th>
                                <th>Slogan</th>
                                <th>Inicio</th>
                                <th>Termino</th>
                                <th>Parts.</th>
                                <th>Equipos</th>
                                <th style="width: 150px;">Acciones</th>
                            </tr>
                            <tr *ngIf="emptyMessage">
                                <td colspan="7" class="text-center">{{emptyMessage}}</td>
                            </tr>
                            <tr *ngFor="let evento of listadoEventos">
                                <td>{{evento.nombre}}</td>
                                <td>{{evento.slogan}}</td>
                                <td>{{evento.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                                <td>{{evento.fechaTermino | date: 'dd/MM/yyyy'}}</td>
                                <td>{{evento.numParticipantes}}</td>
                                <td>{{evento.numEquipos}}</td>
                                <td>
                                    <ul class="acciones-menu">
                                        <li><a class="editar" title="Editar" (click)="loadEdit(evento.id)"></a></li>
                                        <li><a class="eliminar" title="Eliminar" (click)="showElimina(evento)"></a></li>
                                        <li><a class="equipos" title="Rol Equipos" (click)="showModalRolEquipos(evento)"></a></li>
                                        <li><a class="individual" title="Rol Individual" (click)="showTabRolIndividual(evento)"></a></li>
                                    </ul>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button (click)="nuevoEvento()">Nuevo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-modal-dialog" *ngIf="showModalNuevo">
            <div class="my-modal-dialog-window large-modal">
                <div class="container-fluid">
                    <!-- tabs -->
                    <div class="row">
                        <div class="col-md-11">
                            <a class="my-tabs" [ngClass]="{'my-tabs-active': tabDatos }" (click)="showTabDatos()">Información del evento</a>
                            <a class="my-tabs" [ngClass]="{'my-tabs-active': tabEquiposParticipantes }" (click)="showTabEquiposParticipantes()">Equipos e Individual</a>
                            <!--<a class="my-tabs" [ngClass]="{'my-tabs-active': tabRolEquipos }" (click)="showTabRolEquipos()">Rol Equipos</a>-->
                            <a class="my-tabs" [ngClass]="{'my-tabs-active': tabRolIndividual }" (click)="showTabRolIndividual()">Rol Individual</a>
                        </div>
                        <div class="col-md-1">
                            <a class="my-modal-dialog-close" (click)="toggleModal()"></a>
                        </div>
                    </div>
                    <!-- content tabs-->
                    <div class="row">
                        <div *ngIf="tabDatos">
                            <div class="container-fluid">
                                <div class="row">
                                    <info-evento [evento]="mainEvento"></info-evento>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        
                                        <button *ngIf="!mainEvento.isEditMode" (click)="guardaEvento()">Registrar Evento y Continuar</button>
                                        <button *ngIf="mainEvento.isEditMode" (click)="updateEvento()">Actualiza</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div *ngIf="tabEquiposParticipantes">
                            <div class="container-fluid">
                                <div class="row">
                                    <equipos-evento [evento]="mainEvento"></equipos-evento>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="tabRolIndividual">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="evento.nombre">Numero de Hits</label>
                                    <input type="text" name="rol.ind.hits">
                                </div>

                                <div class="col-md-3">
                                    <label for="evento.slogan">Numero de WODs</label>
                                    <input type="text" name="rol.ind.wods">
                                </div>

                                <div class="col-md-3">
                                    <label for="evento.slogan">Participante X Hit</label>
                                    <input type="text" name="rol.ind.wods">
                                </div>
                                <div class="col-md-3">
                                    <button>Generar Rol</button>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        WOD <select></select>
                                    </th>
                                    <th>
                                        WOD <select></select>
                                    </th>
                                    <th>
                                        WOD <select></select>
                                    </th>
                                    <th>
                                        WOD <select></select>
                                    </th>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <tr>
                                    <td>Hit 1</td>
                                    <td>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Participante</th>
                                                <th>Juez</th>
                                            </tr>
                                            <tr>
                                                <td>Juan Perez</td>

                                                <td>
                                                    <select>
                        
                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Roberto Juarez</td>

                                                <td>
                                                    <select>
                        
                                    </select>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Hit 2</td>
                                    <td>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Participante</th>
                                                <th>Juez</th>
                                            </tr>
                                            <tr>
                                                <td>Juan Perez</td>
                                                <td>
                                                    <select>
                        
                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Roberto Juarez</td>
                                                <td>
                                                    <select>
                        
                                    </select>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-modal-dialog" *ngIf="showModalRolEquipo">
            <div class="my-modal-dialog-window large-modal">
                <div class="container-fluid">
                     <!-- tabs -->
                    <div class="row">
                        <div class="col-md-11">
                            <a class="my-tabs" [ngClass]="{'my-tabs-active': tabRolEquipos }">Rol Equipos</a>
                        </div>
                        <div class="col-md-1">
                            <a class="my-modal-dialog-close" (click)="closeModalRolEquipos()"></a>
                        </div>
                    </div>
                    <div class="row">
                        <rol-equipo-evento [evento]="mainEvento"></rol-equipo-evento>
                    </div>
                </div>
                 
            </div>
        </div>

        <!-- Show rol individual -->
        <div class="my-modal-dialog" *ngIf="showModalRolIndividual">
            <div class="my-modal-dialog-window large-modal">
                <div class="container-fluid">
                     <!-- tabs -->
                    <div class="row">
                        <div class="col-md-11">
                            <a class="my-tabs" [ngClass]="{'my-tabs-active': tabRolIndividual }" (click)="showTabRolIndividual()">Rol Individual</a>
                        </div>
                        <div class="col-md-1">
                            <a class="my-modal-dialog-close" (click)="closeModalRolIndividual()"></a>
                        </div>
                    </div>
                    <div class="row">
                        <rol-equipo-evento [evento]="mainEvento"></rol-equipo-evento>
                    </div>
                </div>
                 
            </div>
        </div>

        <!-- Mensaje de alerta de eliminación. -->
        <div class="my-alert" *ngIf="showAlertElimina">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Eliminar Evento</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>¿Desea elmiminar el evento <strong>"{{mainEvento.nombre}}"</strong>?</p>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-12 text-right">
                        <button (click)="eliminar(mainEvento.id)">Aceptar</button>
                        <button class="alert-button" (click)="hideElimina()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>